@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0ea5e9;
  --color-secondary: #6366f1;
  --color-accent: #ec4899;
  --color-accent-content: #0a2a49;
  --color-neutral: #0f172a;
  --color-info: #14b8a6;
  --color-base-100: #f8fafc;
  --color-base-content: #0f172a;
  --color-base-200: #f1f5f9;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #38bdf8;
  --color-secondary: #818cf8;
  --color-accent: #f472b6;
  --color-accent-content: #020617;
  --color-neutral: #020617;
  --color-info: #2dd4bf;

  --color-base-100: #0f172a;
  --color-base-content: #e5e7eb;
  --color-base-200: #1e293b;
}

nav a.active {
  @apply underline text-primary font-bold;
}
nav a:hover {
  @apply bg-transparent;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
