@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default;
 }

 @plugin "daisyui/theme" {
  default: true;
  --color-primary: #0056B3;
  --color-secondary: #E0F7FA;
  --color-accent: #FFB74D;
  --color-accent-content: #0A2A49;
  --color-base-content: #6C757D;
  --color-info: #3ABFF8;

}

nav a.active{
  @apply underline text-primary font-bold
  
}
nav a:hover{
  @apply bg-transparent 
}